 .cardMediaContainer {
  height: 100vh;
  margin-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0px;
 }

 .card {
  height: 100vh;
  width: 70px;
  border-radius: 50px;
  margin: 5px;
}

.cardActive {
   height: 100vh;
   width: 500px;
   border-radius: 50px;
   padding: 0px;
   margin-right: 25px;
}

/*iphone */
@media (max-width: 667px) {
   .cardActive {
      max-width: 200px;
      margin-right: 10px;
   }
   .card {
      max-width: 20px;
   }
}

/* ipad */
@media (max-width: 1024px) {
   .cardActive {
      width: 400px;
      margin-right: 7px;
      height: 80vh;
   }
   .card {
      height: 80vh;
      width: 40px;
   }
}