 .cardMediaContainer {
  height: 100vh;
  margin-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0px;
 }

 .card {
  height: 100vh;
  width: 70px;
  border-radius: 50px;
  margin: 5px;
}

.cardActive {
   height: 100vh;
   width: 500px;
   border-radius: 50px;
   padding: 0px;
   margin-right: 25px;
}

/* iphone */
@media (max-width: 480px) {
   .cardActive {
      width: 200px;
      margin-right: 10px;
   }
   .card {
      width: 20px;
   }
}